/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html,body {
    font-family: 'Open Sans', sans-serif, 'Nanum Gothic Coding', monospace;
    text-align: center;
    font-style: 12px;
    margin:0;
    padding: 0;
}
/* RESET */
*{-webkit-text-size-adjust: 100%;}
html,body{background-color:#fff;}
h1,h2,h3,h4,h5,h6{font-weight:normal}
body{font-size:1em; color:#000; font-family:'나눔고딕',NanumGothic,'Noto Sans KR','Apple SD Gothic Neo', sans-serif;}
select{-webkit-appearance:none; -moz-appearance:none; appearance:none;}
ol,ul{list-style:none}
a{text-decoration:none; color:#000; /*-webkit-tap-highlight-color: rgba(0,0,0,0.2);*/}
img{vertical-align:top; border:0}
table{border-collapse:collapse;border-spacing:0; width:100%;}
em{font-style:normal;}
pre{font-family:'나눔고딕',NanumGothic,'Noto Sans KR','Apple SD Gothic Neo', sans-serif;}

#wrap{
    position: relative;
    margin: 0 auto;
    text-align: left;
}

#wrap .basic #cont {
    text-align: left;
}
#cont{
    position: relative;
    float: none;
    padding-bottom: 55px;
    background: #fff;
}
.menu-bar{
    display: inline-block;
    position: absolute;
    text-align: center;
    top:0;
    height: 70px;
    z-index: 40;
    vertical-align: middle;
    width:100%;
}
.menu{ margin:0; padding:0; position: absolute;right:0; z-index: 2;
    height:100%; width:100%;vertical-align: middle;}
.menu li{
    display: inline-block;
    list-style: none;
    height: 50px;
    position: relative;
}
.menu li:hover>a{color:#ee6e74;}
.menu a{
    color : white;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;

}
p{
    font-size:15px;
}
.menu li p{
    bottom:10px;
}
.menu li ul{
    display:none;
    height: auto;
    border: 0px;
    position: absolute;
    z-index: 10;
    vertical-align: middle;
}
.menu li ul li{
    background-color: white;
    width:200px;
    
}
.menu li >a {
    color: black;
    font-size: 15px;
}
.login_detail{
    left:0;
}
.menu_detail{
    right:0;
}
.login_form{
    position: absolute;
    width:100%;
    z-index: 20;
    display:none;
    height: 300px;
    padding-top:50px;
    background: rgba(0,0,0,0.8);
}
#form_area{
    text-align: center;
}
#form_area legend{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
.input_field label{
    color:white;
    
    font-size: 15px;
}
.input_field input[type=text],input[type=password] {
    width: 40%;
    height:30px;
    border-radius: 5px;
    margin-bottom: 10px;
    border:none;
    text-align: center;
    box-shadow:rgba(0,0,0,0.12) ;
}
.login_btn{
    width: 20%;
    height:30px;
    border:none;
    box-shadow: 2px black;
    background-color: salmon;
}
.material-icons {
    font-size: 40px;
    color:white;
}
a:active {
    text-decoration: none;
}
.basic #container{
    /* padding-right: 150px; */

}
#container{
    margin: 0 auto;
}

.header {
    position: relative;
    height:540px;
    background: url('/images/khuback.jpg') no-repeat;
    background-size: cover;
    overflow-x: scroll;
    overflow-y: hidden;
    width:100%;
}
.header h1{
    margin: 0;
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    padding: 150px 0px 20px 0;
}

.header h4 {
    padding-bottom: 30px;
    text-align: center;
}
#wrap_rank{
    position: relative;
    height: auto;
    /* width:100%;
    height:457px; */
}
#header_wrap{
    background: rgba(0,0,0,0.5);
    z-index: 10;
    min-width:1800px;
    height: 100%;
   
}
.my_main{
    position: relative;
    margin-top: 70px;
    height: auto;
    width:100%;
    /* height:490px; */
}

.footer{
    width:100%;
    height:100px;
    bottom:0;
    position: relative;
    margin-top: 60px;
    background-color: #1a1f2a;
}
div{ display: block;}
.running_tab{
    position: relative;
    width: 100%;
    font-family: 'Nanum Gothic';
    text-align: left;

}
.running_tab ul{
    width: 100%;
    height:33px;
    margin:0 auto;
    padding-left: 20px;
    position: relative;
    text-align: left;
}
.running_tab ul li{
    padding: 0 10px;
}

#score_tab{
    color: #906eee;
}
.running_tab ul li a{
    display: block;
    height: 27px;
    line-height: 33px;
    color:#eee;
    letter-spacing: -0.38px;
    text-decoration: none;
}
.club_rate{
 
    position: relative;
    margin: 0 auto;
    z-index: 1;
    text-align: center;
    height:400px;
}

.club_count{
    display:none;
    position: relative;
}
.club_rate .wrap_clubs, .club_count .wrap_clubs{
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    min-width: 1800px;
    margin:0 30px;
    
}
.club_rate .wrap_clubs .item, .club_count .wrap_clubs .item{
    position: relative;
    z-index: 5;
    height: 300px;
    text-align: center;
    justify-content: space-around;
    align-content: center;
    margin-top: 50px;
    flex-grow: 1;
    max-width: 200px;
}
.club_rate .wrap_clubs .item:hover, .club_count .wrap_clubs .item:hover{
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  
}
.club_rate .wrap_clubs .item h1, .club_count .wrap_clubs .item h1{
    position: absolute;
    color:white;
    z-index: 100;
    margin-top:0;          
    padding-top:0;
    -webkit-text-stroke: 1px black;
}
.club_rate .wrap_clubs .item img, .club_count .wrap_clubs .item img{
    position: relative;
    top:0;
    -webkit-filter: drop-shadow(5px 5px 5px #000);
            filter: drop-shadow(5px 5px 5px #000);
    left: 0;
    max-width:200px;
    height: 100%;
    z-index: 6;
    -o-object-fit: cover;
       object-fit: cover;
}
.club_rate .wrap_clubs .item .score_field, .club_count .wrap_clubs .item .score_field{
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color:white;
    background-color: rgba(0, 0, 0, 0.568);
    position: absolute;
    bottom: 0;
    z-index: 100;
}

.score_field #name{
    font-size: 20px;
}
.score_field #score{
    float: right;
    color:#E2E2E2;
}
.rank_box{
    position: relative;
    top:0;
}
.search_box{
    position: relative;
    top:0;
    text-align: center;

}
fieldset {
    position: relative; display: inline-block; padding: 0 0 0 40px;
    background: #fff; border: none;
}
#q, #search_btn {
    position: relative;
    width:200px;
    height:30px;
    padding: 0;
    margin-top: 20px;
    display: inline-block;
    float: left;
}
#q {
    
    color : #666;
    border-radius: 5px;
    z-index: 2; border: 1px solid #999;
}
input:focus {outline: 0 none;}
input:focus + #search_btn{
    -webkit-transform: translate(0, 0);

      -ms-transform: translate(0, 0);

          transform: translate(0, 0);

  -webkit-transition-duration: 0.3s;

          -o-transition-duration: 0.3s;

     transition-duration: 0.3s;
}
input:focus + #search_btn .fa {

    -webkit-transform: translate(0px, 0);
  
        -ms-transform: translate(0px, 0);
  
            transform: translate(0px, 0);
  
    -webkit-transition-duration: 0.3s;
  
            -o-transition-duration: 0.3s;
  
       transition-duration: 0.3s;
  
    color: #fff;
  
  }
  #search_btn {  z-index: 1;  width: 50px;  border: none;  background: rgb(247, 123, 132);  cursor: pointer;  border-radius: 5px;  

    -webkit-transform: translate(-50px, 0);
  
        -ms-transform: translate(-50px, 0);
  
            transform: translate(-50px, 0);
  
    -webkit-transition-duration: 0.3s;
  
            -o-transition-duration: 0.3s;
  
       transition-duration: 0.3s;
  
  }
  

ul {
    list-style: none;
    text-align: center;
}
li {
    display: inline-block;
    text-align: -webkit-match-parent;
}
a{
    text-decoration: none;
    background-color: transparent;

}
#allview{
    display: block;
    width: 80px;
    font-size: 13px;
    letter-spacing: -0.31px;
    color:#666;
    right: 0;
    top: 40px;
    position: absolute;
    text-decoration: none;
}
.material-icons.c{
    color:yellow;
    font-size: 10px;
}
.material-icons.r{
    color: #E75C66;
    font-size: 15px;
}
.material-icons.a{
    color:orange;
    font-size: 20px;
    vertical-align: middle;
}
.material-icons.up{
    color:white;
    cursor: pointer;
    background-color: rgb(255,10,0);
    font-size: 30px;

    vertical-align: middle;
}
#drop_down{
    cursor: pointer;
    display: block;
    margin:0 auto;
    position: relative;
    text-align: center;
    background-color: rgb(247, 123, 132);
    height: 40px;
    width: 40px;
    color: white;
}

#rest_rank{
    background-color: white;
    position: relative;
    z-index: 20;
    max-width: 100%;
    display:inline-block;
    margin-top:100px;
    height:200px;
}
#content .sub_title{
    font-size: 15px;
    color: #3a3838;
    margin: 30px 0 0px 10px;
    font-family: 'Nanum Gothic';
    height: 30px;
}
#content #counts{
    font-size: 12px;
    float:right;
}
#content{
    padding:16px 16px 16px 25px;
    position: relative;
}
#content> span{
    bottom:0;
}
#content .list{
    width:100%;
}
#content .list th{
    padding-top:5px;
    border: 1px solid #c9c9c9;
    height: 26px;
    font-weight: normal;
    color :#848484;
    font-size: 11px;
    text-align: center;
    min-width: 40px;
}
#content .list td{
    padding: 7px 0 6px 0;
    line-height: 16px;
    border-bottom: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed;
    word-break: break-all;
    overflow: hidden;
    vertical-align: middle;
}
#content .list td.title{
    padding: 7px 10px 7px 15px;
    color: #5a5a5a;
    line-height: 19px;
    font-size: 13px;

}
#content .list td.title a{
    text-decoration: none;
    color:#333;
    font-weight: bold;
    font-family: 'Nanum Gothic';

}
#content .list td.title + td.num{
    padding-top: 8px;
    font-size: 8px;
}
.text-center ul{
    margin:0 auto;
    padding-left: 0;
}


.pagination li{display:inline-block;border-radius:2px;text-align:center;vertical-align:top;height:30px}.pagination li a{text-decoration: none; color:#444;display:inline-block;font-size:1.2rem;padding:0 10px;line-height:30px}.pagination li.active a{color:#fff}.pagination li.active{background-color:#ee6e73}.pagination li.disabled a{cursor:default;color:#999}.pagination li i{font-size:2rem}.pagination li.pages ul li{display:inline-block;float:none}@media only screen and (max-width: 992px){.pagination{width:100%}.pagination li.prev,.pagination li.next{width:10%}.pagination li.pages{width:80%;overflow:hidden;white-space:nowrap}}

.pagination li a{
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
}
.pagination li.active a{
    color:#fff;
}
.ac {
    text-align : center;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
@media only screen and (min-width:768px) and(device-width:667px) {
    #wrap{width: 768px; margin: 0 auto;}
   
    .menu-bar{
        width:768px;
    }
}
@media only screen and (min-width:414px) and (device-width:375px){
    #wrap{width: 768px; margin : 0 auto;}
    .header {
        position: relative;
        height:540px;
        background: url('/images/khuback.jpg') no-repeat;
        background-size: cover;
        overflow-x: scroll;
        overflow-y: hidden;
        width:100%;
    }
    .header h1{
        margin: 0;
        font-size: 60px;
        font-family: 'Anton', sans-serif;
        padding: 150px 0px 20px 0;
    }
    
    .header h4 {
        padding-bottom: 30px;
        text-align: center;
    }
    #wrap_rank{
        position: relative;
        height: auto;
        /* width:100%;
        height:457px; */
    }
    #header_wrap{
        background: rgba(0,0,0,0.5);
        z-index: 10;
        min-width:1800px;
        height: 100%;
       
    }
    .my_main{
        position: relative;
        margin-top: 70px;
        height: auto;
        width:100%;
        /* height:490px; */
    }
    
    .footer{
        width:100%;
        height:100px;
        bottom:0;
        position: relative;
        margin-top: 60px;
        background-color: #1a1f2a;
    }
    div{ display: block;}
    .running_tab{
        position: relative;
        width: 100%;
        font-family: 'Nanum Gothic';
        text-align: left;
    
    }
    .running_tab ul{
        width: 100%;
        height:33px;
        margin:0 auto;
        padding-left: 20px;
        position: relative;
        text-align: left;
    }
    .running_tab ul li{
        padding: 0 10px;
    }
    
    #score_tab{
        color: #906eee;
    }
    .running_tab ul li a{
        display: block;
        height: 27px;
        line-height: 33px;
        color:#eee;
        letter-spacing: -0.38px;
        text-decoration: none;
    }
    .club_rate{
     
        position: relative;
        margin: 0 auto;
        z-index: 1;
        text-align: center;
        height:400px;
    }
    
    .club_count{
        display:none;
        position: relative;
    }
    .club_rate .wrap_clubs, .club_count .wrap_clubs{
        position: relative;
        font-family: 'Nanum Gothic', sans-serif;
        z-index: 3;
        display: flex;
        justify-content: space-around;
        min-width: 1800px;
        margin:0 30px;
        
    }
    .club_rate .wrap_clubs .item, .club_count .wrap_clubs .item{
        position: relative;
        z-index: 5;
        height: 300px;
        text-align: center;
        justify-content: space-around;
        align-content: center;
        margin-top: 50px;
        flex-grow: 1;
        max-width: 200px;
    }
    .club_rate .wrap_clubs .item:hover, .club_count .wrap_clubs .item:hover{
        -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      
    }
    .club_rate .wrap_clubs .item h1, .club_count .wrap_clubs .item h1{
        position: absolute;
        color:white;
        z-index: 100;
        margin-top:0;          
        padding-top:0;
        -webkit-text-stroke: 1px black;
    }
    .club_rate .wrap_clubs .item img, .club_count .wrap_clubs .item img{
        position: relative;
        top:0;
        -webkit-filter: drop-shadow(5px 5px 5px #000);
                filter: drop-shadow(5px 5px 5px #000);
        left: 0;
        max-width:200px;
        height: 100%;
        z-index: 6;
        -o-object-fit: cover;
           object-fit: cover;
    }
    .club_rate .wrap_clubs .item .score_field, .club_count .wrap_clubs .item .score_field{
        text-align: center;
        vertical-align: middle;
        width: 100%;
        color:white;
        background-color: rgba(0, 0, 0, 0.568);
        position: absolute;
        bottom: 0;
        z-index: 100;
    }
    .menu-bar{
        width:414px;
        top:0;
    }
    .category .btn_set{
    padding: 90px 0 0 0;
    }
}

